rich==14.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
Pygments==2.19.1
streamlit==1.32.2
langchain==0.1.13
langchain-community==0.0.1
chromadb==0.4.24
sentence-transformers==2.2.2
cohere==4.32
google-generativeai==0.3.1
reportlab==4.0.4
requests==2.31.0
beautifulsoup4==4.12.2
python-dotenv==1.0.1
tiktoken==0.6.0
openai==1.14.2
faiss-cpu==1.7.4
pypdf==4.1.0
PyPDF2==3.0.1
onnxruntime>=1.15.1
